<tr class="et-row" class="et-data-row" class="customer-row" data-id="{{id}}" data-name="{{name}}" data-email="{{email}}">
  <td>add</td>
  <td>delete</td>
  <td>{{id}}</td>
  <td>{{name}}</td>
  <td>{{email}}</td>
</tr>
