<tr class="et-row" class="et-data-row" class="order-row" data-id="{{id}}" data-d-id="{{driver_id}}" data-t-id="{{truck_id}}" data-sf-id="{{start_facility_id}}" data-ef-id="{{end_facility_id}}" data-weight="{{total_weight}}" data-volume="{{total_volume}}" data-late="{{late}}" data-dt="{{departure_time}}" data-eat="{{expected_arrival_time}}" data-aat="{{actual_arrival_time}}">
  <td>add</td>
  <td>delete</td>
  <td>{{id}}</td>
  <td>{{driver_id}}</td>
  <td>{{truck_id}}</td>
  <td>{{start_facility_id}}</td>
  <td>{{end_facility_id}}</td>
  <td>{{total_weight}}</td>
  <td>{{total_volume}}</td>
  <td>{{late}}</td>
  <td>{{departure_time}}</td>
  <td>{{expected_arrival_time}}</td>
  <td>{{actual_arrival_time}}</td>
</tr>
