<tr class="et-row" class="et-data-row" class="driver-row" data-id="{{id}}" data-name="{{name}}" data-email="{{email}}" data-ld="{{ld}}" data-ed="{{ed}}">
  <td>add</td>
  <td>delete</td>
  <td>{{id}}</td>
  <td>{{name}}</td>
  <td>{{email}}</td>
  <td>{{ld}}</td>
  <td>{{ed}}</td>
</tr>
