<tr class="et-row" class="et-data-row" class="facility-row" data-id="{{id}}" data-c_id="{{customer_id}}" data-location="{{location}}" data-name="{{name}}">
  <td>add</td>
  <td>delete</td>
  <td>{{id}}</td>
  <td>{{customer_id}}</td>
  <td>{{location}}</td>
  <td>{{name}}</td>
</tr>
