<tr class="et-row" class="et-data-row" class="order-row" data-id="{{id}}" data-c-id="{{customer_id}}" data-sf-id="{{start_facility_id}}" data-ef-id="{{end_facility_id}}" data-cf-id="{{current_facility_id}}" data-weight="{{weight}}" data-volume="{{volume}}">
  <td>add</td>
  <td>delete</td>
  <td>{{id}}</td>
  <td>{{customer_id}}</td>
  <td>{{start_facility_id}}</td>
  <td>{{end_facility_id}}</td>
  <td>{{current_facility_id}}</td>
  <td>{{weight}}</td>
  <td>{{volume}}</td>
</tr>
