<tr class="et-row" class="et-data-row" class="truck-row" data-id="{{id}}" data-cf-id="{{current_facility_id}}" data-plate="{{plate}}" data-mw="{{max_weight}}" data-mv="{{max_volume}}">
  <td>add</td>
  <td>delete</td>
  <td>{{id}}</td>
  <td>{{current_facility_id}}</td>
  <td>{{plate}}</td>
  <td>{{max_weight}}</td>
  <td>{{max_volume}}</td>
</tr>
